// COLORS

$color-primary: #03d263;
$color-secondary: #39c0ff;

$color-white: #fff;
$color-white-1: #ebebeb;
$color-black: #000;
$color-black-1: #202020;
$color-black-2: #313131;

$color-grey-light-1: #d7d9e1;
$color-grey-light-2: #e9ecf3;
$color-grey-light-3: #f2f2f2;

$color-grey-dark-1: #2c3e50;
$color-grey-dark-2: #757a97;
$color-grey-dark-3: #828282;
$color-grey-dark-4: #7d7d7d;
$color-grey-dark-5: #999999;
$color-grey-dark-6: #3a3a3a;
$color-grey-dark-7: #898989;
$color-grey-dark-8: #494949;
$color-grey-dark-9: #b7b7b7;
$color-grey-dark-10: #434343;

$color-green-1: #3fb871;
$color-green-2: #36a66d;

$box-shadow-1: 0 1rem 4rem rgba($color-black, 0.3);
// Z-INDEXES
$z-index0: -10;
$z-index1: -1;
$z-index2: 200;
$z-index3: 300;
$z-index4: 400;
$z-index5: 500;
$z-index6: 600;
$z-index7: 700;
$z-index8: 800;
$z-index9: 900;

// FONTS
$font-primary: "Roboto", sans-serif;
$font-size-11: 11px;
$font-size-12: 12px;
$font-size-14: 14px;
