// COLORS

$color-primary: #03d263;
$color-secondary: #39c0ff;

$color-white: #fff;
$color-black: #000;

$color-grey-light-1: #d7d9e1;
$color-grey-light-2: #e9ecf3;

$color-grey-dark-1: #2c3e50;
$color-grey-dark-2: #757a97;

$box-shadow-1: 0 1rem 4rem rgba($color-black, 0.3);
// Z-INDEXES
$z-index0: -10;
$z-index1: -1;
$z-index2: 200;
$z-index3: 300;
$z-index4: 400;
$z-index5: 500;
$z-index6: 600;
$z-index7: 700;
$z-index8: 800;
$z-index9: 900;

// FONTS
$font-primary: "Roboto", sans-serif;
