.header1
    .container
        .header1__text
            .d-flex.justify-content-between
                .header1__text__Left
                    | Open time: 8:00 - 18:00 Monday - Sunday
                    i.fab.fa-facebook-f.ml-5
                    i.fab.fa-twitter.ml-3
                    i.fab.fa-instagram.ml-3
                .header1__text__Right
                    i.fas.fa-user-check.mr-2
                    | Đăng nhập
                    i.fas.fa-user-alt.ml-4.mr-2
                    | Đăng ký
.header2
    .container
.header3
    .container
