
.header
    .header_top
        ul.top
            li-.top_li
                a(href="#") Tài khoản của tôi
            li-.top_li
                 a(href="#") Trạng thái đơn hàng
            li-.top_li
                 a(href="#") Danh sách ưu thích 
            li-.top_li
                 a(href="#") Giỏ hàng
            li-.top_li
                 a(href="#") Đăng ký
            li-.top_li
                 a(href="#") Đăng nhập
            .form
                input( placeholder="Tìm kiếm ở đây")
    .header_bottom
        .header_img
            img(src="../images/logo.png" alt="logo")
        .header_nav
            ul
                li 
                    a(href="#") Trang chủ
                li 
                    a(href="#") Rượu vang đỏ
                li 
                    a(href="#") Rượu trắng
                li 
                    a(href="#") Champange
                li 
                    a(href="#") Thông tin
                li 
                    a(href="#") Block
                li 
                    a(href="#") Liên hệ
