.header
  .container
    section.header__section
      .header__logo
        span
        img(src="./images/logo.png")
      .header__nav
        ul.category
          li.category__item
            a.category__link(href="#") TRANG CHỦ
          li.category__item
            a.category__link(href="#") GIỚI THIỆU
          li.category__item
            a.category__link(href="#") SẢN PHẨM
          li.category__item
            a.category__link(href="#") TIN TỨC
          li.category__item
            a.category__link(href="#") BẢN ĐỒ
          li.category__item
            a.category__link(href="#") LIÊN HỆ
      .header__icon
        i.fas.fa-shopping-cart
        i.fas.fa-search