.header
    .container
        .header__logo
            span
            img(src="./images/logo.png")
        .header__nav
            ul.category
                li.category__item
                    a.category__link(href="javascript:void(0)") TRANG CHỦ
                li.category__item
                    a.category__link(href="javascript:void(0)") GIỚI THIỆU
                li.category__item
                    a.category__link(href="javascript:void(0)") SẢN PHẨM
                li.category__item
                    a.category__link(href="javascript:void(0)") TIN TỨC
                li.category__item
                    a.category__link(href="javascript:void(0)") BẢN ĐỒ
                li.category__item
                    a.category__link(href="javascript:void(0)") LIÊN HỆ