.footer {
  font-family: $font-primary;
  background-color: $color-black-2;

  &__top {
    font-size: $font-size-14;
    font-weight: bold;
    color: $color-green-1;
    padding: 34px 0px 40px;

    &__left i {
      color: $color-white;
      font-size: $font-size-23;
    }

    &__left div {
      margin-bottom: 30px;
    }

    &__right {
      display: flex;
      flex-direction: row;
      height: 46px;
    }

    &__input {
      flex: 1;
      outline: none;
      border: none;
      padding: 0px 10px;
    }

    &__btn {
      color: $color-white;
      background-color: $color-green-1;
      border: none;
      width: 50px;
    }
  }

  &__middle {
    font-size: $font-size-11;
    border-width: 1px 0px;
    border-style: groove;
    border-color: $color-grey-dark-5;
    color: $color-grey-dark-9;
    padding-bottom: 45px;

    img {
      padding: 20px 0px;
    }

    &__introduce p {
      line-height: 2;
      margin: 0px;
    }

    &__contact {
      display: none;
    }

    &__icon-color {
      color: $color-green-1;
    }

    &__title-menu {
      font-size: $font-size-14;
      color: $color-green-1;
      margin-top: 38px;
    }

    ul {
      margin: 0px;
    }

    &__item {
      margin-top: 22px;
    }

    &__item::before {
      content: "\203A  ";
    }
  }

  &__bottom {
    display: none;
  }

  &__design {
    font-size: $font-size-14;
    background-color: $color-grey-dark-10;
    color: $color-grey-light-3;

    &__main {
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 12px 0px;
    }
  }
}

@media (min-width: 1200px) {
  .footer {
    &__top {
      color: $color-grey-dark-7;
      padding: 33px 0px 34px;

      &__left i {
        font-size: $font-size-16;
        color: $color-grey-dark-7;
      }

      &__left p {
        margin-bottom: 7px;
      }

      &__middle p {
        margin: 0px;
      }

      &__left div {
        margin-bottom: 0px;
      }
    }

    &__middle {
      padding: 40px 0px 60px;

      img {
        padding: 0px 0px 20px;
      }

      &__introduce p {
        line-height: 2;
        margin: 0px;
      }

      &__contact {
        display: block;

        & p:first-child {
          margin-top: 16px;
        }

        & p:last-child {
          margin: 0px;
        }
      }

      &__title-menu {
        margin-top: 20px;
      }
    }

    &__bottom {
      display: block;
      font-size: $font-size-12;
      color: $color-grey-dark-9;
      padding: 25px 0px;

      &__left,
      &__right {
        display: flex;
        align-items: center;
        margin: 0px;
        height: 100%;
      }

      &__item {
        margin: 0px 15px 0px 0px;
      }

      &__right {
        justify-content: flex-end;
      }

      &__card {
        margin: 0px 0px 0px 15px;
      }
    }
  }
}
