$color_black: #000;

.header {
  padding: 10px 0;
  border-bottom: 1px solid #e7e7e7;
  font-family: sans-serif;
  font-weight: bold;
  background-color: #f4f4f4;

  &__logo {
    display: inline-block;
  }

  &__nav {
    transform: translate(0%, 150%);
    .category {
      display: flex;
      justify-content: space-evenly;
      &__link {
        color: $color_black;
        text-decoration: none;
      }
      &__link:hover,
      &__link:active {
        color: #789629;
      }
    }
  }

  &__icon {
    display: flex;
    justify-content: flex-end;
    transform: translate(0%, 150%);
    i:first-child{
      margin-right: 20px;
    }
  }
}

.slide {
  &__item {
    background-color: #f1f1f1;
    text-align: center;
    position: relative;
    a {
      position: absolute;
      left: 200px;
      bottom: 50px;
      font-size: 18px;
      color: $color_black;
      font-family: "Open Sans", sans-serif;
    }
  }
}
