
.header{
    height: 100px;
    width: 100%;
    background-color: rgb(37, 29, 29);
    color: white;
    font-family: serif;
    .header_top{
        height: 30px;
        background:red;
        .top_li{
            display:inline-block;
            a{
                color: black;
                text-decoration:none;
            }
        }
    }
    .header_img{
        width: 30%;
        float: left;
        img{
            height: 90px;
            width: 70%;
        }
    }
    .header_nav{
        float:right;
        width: 60%;
        ul{
            text-decoration: none;
            width:100%;
            line-height: 70px;
            li{
                display: inline-block;
                width: 100px;
                a{
                    list-style-type: none;
                    color:white;
                    text-decoration: none;
                }

            }
            li a:hover{
                color: yellow;
            }
        }
    }
}